*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.shimmer-container{
    padding: 50px;
    width: 100%;
    min-height:100vh ;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(4,minmax(200px,250px));
    grid-template-rows: repeat(3,minmax(250px,300px));
    place-content: center;
    place-items: center;
    gap: 30px 0px;
}

.shimmer-container .card{
    width: 230px;
    height: 300px;
    background-color: #f0f0f0;
}

.card-container{
    padding: 50px;
    width: 100%;
    min-height:100vh ;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(4,minmax(200px,250px));
    grid-template-rows: repeat(3,minmax(250px,300px));
    place-content: center;
    place-items: center;
    gap: 30px 0px;
}

.card-container .card{
    width: 230px;
    height: 300px;
    background-color: #fff;
    box-shadow: 0px 0px 4px 2px #f0f0f0;
    padding: 10px;
}

.card .profile{
    width: 100%;
    height: 60%;
}

.card .profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .info h4{
    margin-block: 10px;
}

.card .info div{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}